<div class="container" style="display: flex; padding-top: 5px;">
    <section style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
            <div hx-target="this" hx-swap="outerHTML" style="display: flex; gap: 10px;">
                <button class="btn btn-sm btn-primary" hx-get={{ url_for(view_url) }} hx-target="#pageContent"
                    hx-swap="innerHTML" type="button">
                    Back
                </button>
                <button hx-get={{ url_for(edit_url, record_id=record.id) }} hx-swap="innerHTML" hx-target="#pageContent"
                    class="btn btn-sm btn-warning" type="button">
                    Edit
                </button>
            </div>
            {% for key, value in record.items() %}
            {% if key == 'users' %}
            <br>
            {% else %}
            <p>{{ key.replace("_", " ").title() }} <br> {{ value }}</p>
            {% endif %}
            {% endfor %}
        </div>
        {% if users %}
        <div id="users" style="flex: 1; padding-left: 10px;">
            {% for user in users %}
            <section>
                {% for key, value in user.items() %}
                <p>{{ key.replace("_", " ").title() }} : <br> {{ value }} </p>
                {% endfor %}
            </section>
            {% endfor %}
        </div>
        {% endif %}
    </section>